output {
  if [type] == "access" {
    elasticsearch {
      hosts => [ "{{es_host}}" ]
      user => "{{es_user}}"
      password => "{{es_pass}}"
      index => "access"
      pipeline => "geoip-user_agent"
    }
  }
  if [type] == "phpaccess" {
    elasticsearch {
      hosts => [ "{{es_host}}" ]
      user => "{{es_user}}"
      password => "{{es_pass}}"
      index => "phpaccess"
    }
  }
  if [type] == "phperror" {
    elasticsearch {
      hosts => [ "{{es_host}}" ]
      user => "{{es_user}}"
      password => "{{es_pass}}"
      index => "phperror"
    }
  }
}
