input {
  file {
    path => "/opt/projects/{{item.project}}/envs/{{item.env}}/logs/phpaccess.log"
    start_position => "beginning"
    type => "phpaccess"
    add_field => {
      "project" => "{{item.project}}"
      "env" => "{{item.env}}"
      "xhost" => "{{item.host}}"
    }
  }
}
